In [1]:
import pandas as pd

In [2]:
all_alpha_08 = pd.read_csv('all_alpha_08.csv')
all_alpha_18 = pd.read_csv('all_alpha_18.csv')

In [3]:
all_alpha_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [4]:
all_alpha_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [5]:
all_alpha_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [6]:
all_alpha_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [7]:
all_alpha_08.duplicated().sum()

25

In [8]:
all_alpha_18.duplicated().sum()

0

In [9]:
all_alpha_08.drop_duplicates(inplace = True)

In [10]:
all_alpha_08.duplicated().sum()

0

In [11]:
all_alpha_18.drop_duplicates(inplace = True)

In [12]:
all_alpha_08['SmartWay'].nunique()

2

In [13]:
all_alpha_18['SmartWay'].nunique()

3

In [14]:
all_alpha_08['Sales Area'].nunique()

3

In [15]:
all_alpha_18['Cert Region'].nunique()

2

In [16]:
all_alpha_08['Cyl'].nunique()

8

In [17]:
all_alpha_18['Cyl'].nunique()

7

In [18]:
all_alpha_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [19]:
all_alpha_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [20]:
all_alpha_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [21]:
all_alpha_08['Fuel'].value_counts()

Gasoline       2293
ethanol/gas      72
diesel           11
CNG               2
ethanol           1
Name: Fuel, dtype: int64

In [22]:
all_alpha_08.drop(columns = ['Stnd' , 'Underhood ID' , 'FE Calc Appr' , 'Unadj Cmb MPG'] , inplace = True)

In [23]:
all_alpha_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

In [24]:
all_alpha_18.drop(columns = ['Stnd' , 'Stnd Description' ,'Underhood ID','Comb CO2'] , inplace = True)

In [25]:
all_alpha_08.rename(columns = {'Sales Area': 'Cert Region'} , inplace = True)

In [26]:
all_alpha_08.columns = all_alpha_08.columns.str.lower()

In [27]:
all_alpha_18.columns = all_alpha_18.columns.str.lower()

In [28]:
all_alpha_08.columns = all_alpha_08.columns.str.replace(' ','_')
all_alpha_18.columns = all_alpha_18.columns.str.replace(' ','_')

In [29]:
all_alpha_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [30]:
all_alpha_18.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [31]:
all_alpha_08.columns == all_alpha_18.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [32]:
all_alpha_08 = all_alpha_08[all_alpha_08['cert_region'] == 'CA']

In [33]:
all_alpha_18 = all_alpha_18[all_alpha_18['cert_region'] == 'CA']

In [34]:
all_alpha_08.drop(columns = ['cert_region'] , inplace = True)
all_alpha_18.drop(columns = ['cert_region'] , inplace = True)

In [35]:
all_alpha_18.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'veh_class',
       'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [36]:
all_alpha_08.dropna(inplace = True)

In [37]:
all_alpha_18.dropna(inplace = True)

In [38]:
all_alpha_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1006 non-null   object
 1   displ                 1006 non-null   float64
 2   cyl                   1006 non-null   object
 3   trans                 1006 non-null   object
 4   drive                 1006 non-null   object
 5   fuel                  1006 non-null   object
 6   veh_class             1006 non-null   object
 7   air_pollution_score   1006 non-null   object
 8   city_mpg              1006 non-null   object
 9   hwy_mpg               1006 non-null   object
 10  cmb_mpg               1006 non-null   object
 11  greenhouse_gas_score  1006 non-null   object
 12  smartway              1006 non-null   object
dtypes: float64(1), object(12)
memory usage: 110.0+ KB

In [39]:
all_alpha_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 797 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 797 non-null    object
 4   drive                 797 non-null    object
 5   fuel                  797 non-null    object
 6   veh_class             797 non-null    object
 7   air_pollution_score   797 non-null    int64
 8   city_mpg              797 non-null    object
 9   hwy_mpg               797 non-null    object
 10  cmb_mpg               797 non-null    object
 11  greenhouse_gas_score  797 non-null    int64
 12  smartway              797 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.2+ KB

In [40]:
all_alpha_08.duplicated().sum()

20

In [41]:
all_alpha_18.duplicated().sum()

3

In [42]:
all_alpha_08.drop_duplicates(inplace = True)
all_alpha_18.drop_duplicates(inplace = True)

In [43]:
all_alpha_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    object
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   veh_class             986 non-null    object
 7   air_pollution_score   986 non-null    object
 8   city_mpg              986 non-null    object
 9   hwy_mpg               986 non-null    object
 10  cmb_mpg               986 non-null    object
 11  greenhouse_gas_score  986 non-null    object
 12  smartway              986 non-null    object
dtypes: float64(1), object(12)
memory usage: 107.8+ KB

In [44]:
all_alpha_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    float64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 86.8+ KB

In [45]:
all_alpha_08['cyl'].unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', '(2 cyl)'], dtype=object)

In [46]:
all_alpha_08['cyl'] = all_alpha_08['cyl'].str.extract('(\d+)').astype(int)

In [47]:
all_alpha_18['cyl'] = all_alpha_18['cyl'].astype('int')

In [48]:
all_alpha_08.to_csv('lv_08.csv' , index = False)
all_alpha_08.to_csv('lv_18.csv', index = False)

In [49]:
all_alpha_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [50]:
all_alpha_08['air_pollution_score'].str.split('/' , expand = True)

      0     1
0     7  None
2     7  None
4     7  None
6     7  None
7     7  None
...  ..   ...
2394  7  None
2396  7  None
2398  7  None
2399  7  None
2400  7  None

[986 rows x 2 columns]

In [51]:
all_alpha_08['fuel'].str.contains('/').sum()

1

In [52]:
all_alpha_18['fuel'].str.contains('/').sum()

38

In [53]:
all_alpha_08.loc[all_alpha_08['fuel'].str.contains('/')]

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [54]:
all_alpha_18.loc[all_alpha_18['fuel'].str.contains('/')]

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
188,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
382,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No
394,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
396,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
398,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
428,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
432,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
436,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
440,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
454,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,3,43/113,42/99,42/106,10,Yes
456,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,7,43/113,42/99,42/106,10,Elite
458,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
462,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
492,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
496,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
605,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Gasoline/Electricity,midsize car,7,43/102,41/91,42/97,10,Elite
659,GMC Sierra 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
661,GMC Sierra 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
663,GMC Sierra 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
697,GMC Yukon 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
701,GMC Yukon 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
709,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
715,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,15/22,12/18,3,No
892,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,15/21,22/30,18/25,5,No
896,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol/Gas,small SUV,3,14/21,21/28,17/23,5,No
933,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline/Electricity,small car,1,20/59,21/61,20/60,10,No
1162,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small car,5,17/24,24/32,20/27,6,No
1179,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small SUV,5,17/23,23/31,19/26,5,No
1192,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol/Gas,standard SUV,3,13/18,17/22,14/19,3,No
1256,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline/Electricity,midsize car,3,28/63,27/66,27/65,9,Yes
1507,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,standard SUV,5,9/13,13/17,10/14,1,No
1517,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,9/13,12/17,10/15,2,No
1577,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,midsize car,7,26/70,33/72,29/71,10,Elite
1601,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
1609,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

In [55]:
all_alpha_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'veh_class',
       'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [56]:
all_alpha_08.loc[all_alpha_08['smartway'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [57]:
cols = ['fuel','air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score']

df_mody = all_alpha_08.loc[all_alpha_08['fuel'].str.contains('/')]
df_mody

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [58]:
df_mody['fuel'].str.split('/' , expand = True)

            0    1
1550  ethanol  gas

In [59]:
df_cpy1 = df_mody.copy()
df_cpy1['fuel'] = df_mody['fuel'].str.split('/' , expand = True)[0]
df_cpy2 = df_mody.copy()
df_cpy2['fuel'] = df_mody['fuel'].str.split('/' , expand = True)[1]

In [60]:
df_cpy2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [61]:
cols = ['fuel','air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score']

df_mody = all_alpha_08.loc[all_alpha_08['fuel'].str.contains('/')]
df_cpy1 = df_mody.copy()
df_cpy2 = df_mody.copy()

for col in cols :
    df_cpy1[col] = df_mody[col].str.split('/' , expand = True)[0]
    df_cpy2[col] = df_mody[col].str.split('/' , expand = True)[1]
    
    
df_cpy1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [62]:
df_cpy2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [63]:
all_alpha_08 = all_alpha_08.append([df_cpy1,df_cpy2] , ignore_index = True)
all_alpha_08.shape

C:\Users\Aya Yasser\AppData\Local\Temp\ipykernel_3456\1296115395.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_alpha_08 = all_alpha_08.append([df_cpy1,df_cpy2] , ignore_index = True)

(988, 13)

In [64]:
all_alpha_08.drop(all_alpha_08.loc[all_alpha_08['fuel'].str.contains('/')].index , inplace = True)

In [65]:
all_alpha_08.shape

(987, 13)

In [66]:
cols = ['model','fuel','air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score']

for col in cols :
    test_df = all_alpha_08.loc[all_alpha_08[col].str.contains('/')]
    
test_df

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [72]:
df_mody = all_alpha_18.loc[all_alpha_18['fuel'].str.contains('/')]

In [88]:
cols = ['fuel','city_mpg', 'hwy_mpg', 'cmb_mpg']

df_cpy1 = df_mody.copy()
df_cpy2 = df_mody.copy()

for col in cols :
    df_cpy1[col] = df_mody[col].str.split('/' , expand = True)[0]
    df_cpy2[col] = df_mody[col].str.split('/' , expand = True)[1]
    
df_cpy1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,3,28,34,30,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,7,27,31,29,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline,small car,7,27,31,28,10,Elite
188,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline,large car,3,25,29,27,9,Yes
382,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol,large car,5,14,20,16,4,No
394,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol,pickup,5,12,16,14,4,No
396,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol,pickup,5,12,15,13,3,No
398,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol,pickup,3,12,17,14,3,No
428,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol,standard SUV,3,12,17,14,3,No
432,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol,standard SUV,3,11,15,12,3,No
436,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol,standard SUV,3,12,17,14,3,No
440,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol,standard SUV,3,11,16,13,3,No
454,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline,small car,3,43,42,42,10,Yes
456,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline,small car,7,43,42,42,10,Elite
458,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol,large car,3,14,22,17,5,No
462,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol,large car,3,13,20,16,4,No
492,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol,large car,3,14,22,17,5,No
496,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol,large car,3,13,20,16,4,No
605,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Gasoline,midsize car,7,43,41,42,10,Elite
659,GMC Sierra 15,4.3,6,Auto-6,2WD,Ethanol,pickup,5,12,16,14,4,No
661,GMC Sierra 15,4.3,6,Auto-6,4WD,Ethanol,pickup,5,12,15,13,3,No
663,GMC Sierra 15,5.3,8,Auto-6,2WD,Ethanol,pickup,3,12,17,14,3,No
697,GMC Yukon 1500,5.3,8,Auto-6,2WD,Ethanol,standard SUV,3,12,17,14,3,No
701,GMC Yukon 1500,5.3,8,Auto-6,4WD,Ethanol,standard SUV,3,11,16,13,3,No
709,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Ethanol,standard SUV,3,12,17,14,3,No
715,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Ethanol,standard SUV,3,11,15,12,3,No
892,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol,small SUV,3,15,22,18,5,No
896,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol,small SUV,3,14,21,17,5,No
933,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline,small car,1,20,21,20,10,No
1162,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol,small car,5,17,24,20,6,No
1179,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol,small SUV,5,17,23,19,5,No
1192,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol,standard SUV,3,13,17,14,3,No
1256,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline,midsize car,3,28,27,27,9,Yes
1507,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol,standard SUV,5,9,13,10,1,No
1517,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol,pickup,5,9,12,10,2,No
1577,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline,midsize car,7,26,33,29,10,Elite
1601,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline,small SUV,7,26,28,26,10,Elite
1609,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline,standard SUV,7,26,30,27,10,Elite

In [91]:
df_cpy2.shape

(38, 13)

In [112]:
rem_index = all_alpha_18[all_alpha_18['fuel'].str.contains('/')].index

In [102]:
all_alpha_18 = pd.concat([all_alpha_18 , df_cpy1 , df_cpy2])

In [103]:
all_alpha_18.shape

(870, 13)

In [113]:
all_alpha_18.drop(rem_index)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1597,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline,small SUV,5,22,28,24,5,No
1599,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Gasoline,small SUV,5,21,27,23,5,No
1603,VOLVO XC 90,2.0,4,SemiAuto-8,2WD,Gasoline,standard SUV,5,22,29,25,5,No
1605,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline,standard SUV,5,22,28,24,5,No
1607,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Gasoline,standard SUV,5,20,27,23,5,No